@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');


/* Colour variables */
:root {
  --sunset-orange: #E5A32D;
  --cream: #F2ECDF;
  --palm-green: #124D51;
  --hollywood-star: #DDB355;
  --blue-skies: #9BD8E1;
  --baby-pink: #EDB8CD;
  --light-grey: #EFEFEF;
}

html {
  font-family: Plus Jakarta Sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  font-weight: 600;
}

.Nav {
  margin: 0, auto;
  color: var(--cream);
  background-color: var(--palm-green);
  padding: 4px 1rem;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 600;
}

.top-banner {
  background-color: var(--cream);
  padding: 2rem;
}

li {
  display: inline;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.content {
  margin: 0 auto;
  max-width: 75%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  font-weight: 800;
}

.contact {
  padding: 2rem;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--sunset-orange);
}

form {
  display: grid;
  max-width: 75%;
  margin: 0 auto;
}

.form-name, .form-mail {
}

#message {
}

.vl {
  border-left: 3px solid var(--palm-green);
  height: 200px;
}

.Footer {
  background-color: var(--palm-green);
  color: var(--cream);
  margin: 0 auto;
  padding: 1rem;
}

/* images */
#logo {
  height: 30%;
  width: 30%;
}

#logotext {
  height: 30%;
  width: 30%;
}

#star {
  height: 5%;
  width: 5%;
}

.App {
  text-align: center;
  margin: 0 auto;
}